/* @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
  background-color: #fdd0c1;
  overflow-x: hidden;
}
